openapi: 3.1.0
info:
  title: QuikApp API
  description: |
    QuikApp is an enterprise communication platform providing real-time messaging,
    voice/video calls, file sharing, and team collaboration features.

    ## Authentication
    Most endpoints require authentication using JWT Bearer tokens.
    Obtain tokens via the `/auth/login` or `/auth/oauth` endpoints.

    ## Rate Limiting
    API requests are rate-limited per user/IP:
    - Standard endpoints: 1000 requests/minute
    - Auth endpoints: 20 requests/minute
    - Upload endpoints: 100 requests/minute

    ## Pagination
    List endpoints support cursor-based pagination using `cursor` and `limit` parameters.
    Some endpoints also support page-based pagination with `page` and `limit`.

    ## WebSocket
    Real-time features are available via WebSocket at `wss://ws.quikapp.io`

    ## Error Handling
    All errors return a consistent JSON structure with `error.code`, `error.message`,
    and optional `error.details` array for validation errors.
  version: 1.0.0
  contact:
    name: QuikApp API Support
    email: api-support@quikapp.io
    url: https://docs.quikapp.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  x-logo:
    url: https://quikapp.io/logo.png
servers:
  - url: https://api.quikapp.io/v1
    description: Production server
  - url: https://api.staging.quikapp.io/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development
security:
  - BearerAuth: []
tags:
  - name: Authentication
    description: User authentication and authorization
  - name: MFA
    description: Multi-factor authentication
  - name: Users
    description: User management and profiles
  - name: Bookmarks
    description: User bookmarks
  - name: Workspaces
    description: Workspace management
  - name: Members
    description: Workspace and channel membership
  - name: Invites
    description: Workspace invitations
  - name: Channels
    description: Channel management within workspaces
  - name: Direct Messages
    description: Direct and group messages
  - name: Messages
    description: Messaging operations
  - name: Reactions
    description: Message reactions
  - name: Threads
    description: Thread discussions
  - name: Calls
    description: Voice and video calls
  - name: Huddles
    description: Quick audio huddles
  - name: Files
    description: File uploads and management
  - name: Search
    description: Search across messages, files, and users
  - name: Notifications
    description: Notification management
  - name: Presence
    description: User presence and status
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login with credentials
      description: Authenticate user with email and password. Returns tokens and user data.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Account locked or MFA required
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      mfaRequired:
                        type: boolean
                      mfaMethods:
                        type: array
                        items:
                          type: string
        '429':
          description: Too many login attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new account
      description: Create a new user account. Optionally accepts workspace invite code.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid input or password requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout current session
      description: Invalidate current session tokens
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Logout successful
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Exchange refresh token for new access token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/password-reset:
    post:
      tags:
        - Authentication
      summary: Request password reset
      description: Send password reset link to email
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Reset email sent if account exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If an account exists, a reset link has been sent
        '429':
          description: Too many reset requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/password-reset/confirm:
    post:
      tags:
        - Authentication
      summary: Confirm password reset
      description: Set new password using reset token
      operationId: confirmPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirm'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password has been reset successfully
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/oauth:
    post:
      tags:
        - Authentication
      summary: OAuth login/signup
      description: Authenticate using OAuth provider (Google, GitHub, Microsoft, Apple)
      operationId: oauthLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
      responses:
        '200':
          description: OAuth authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid OAuth code or configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/oauth/url:
    get:
      tags:
        - Authentication
      summary: Get OAuth authorization URL
      description: Get the authorization URL for the specified OAuth provider
      operationId: getOAuthUrl
      security: []
      parameters:
        - name: provider
          in: query
          required: true
          schema:
            type: string
            enum:
              - google
              - github
              - microsoft
              - apple
        - name: redirectUri
          in: query
          required: true
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: OAuth URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  state:
                    type: string
  /auth/mfa/setup:
    post:
      tags:
        - Authentication
        - MFA
      summary: Setup MFA
      description: Initialize MFA setup and return TOTP secret
      operationId: setupMfa
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MFA setup initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaSetupResponse'
        '400':
          description: MFA already enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/mfa/verify:
    post:
      tags:
        - Authentication
        - MFA
      summary: Verify MFA code
      description: Verify TOTP code to complete MFA setup or login
      operationId: verifyMfa
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaVerifyRequest'
      responses:
        '200':
          description: MFA verification successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  tokens:
                    $ref: '#/components/schemas/TokenPair'
        '401':
          description: Invalid MFA code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/mfa:
    delete:
      tags:
        - Authentication
        - MFA
      summary: Disable MFA
      description: Disable MFA for current user (requires password confirmation)
      operationId: disableMfa
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: MFA disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/sessions:
    get:
      tags:
        - Authentication
      summary: List active sessions
      description: Get all active sessions for current user
      operationId: listSessions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
  /auth/sessions/{sessionId}:
    delete:
      tags:
        - Authentication
      summary: Revoke session
      description: Revoke a specific session by ID
      operationId: revokeSession
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Session revoked
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/sessions/all:
    delete:
      tags:
        - Authentication
      summary: Revoke all other sessions
      description: Revoke all sessions except current
      operationId: revokeAllSessions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All other sessions revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  revokedCount:
                    type: integer
  /auth/verify-email:
    post:
      tags:
        - Authentication
      summary: Verify email address
      description: Verify email using token from verification email
      operationId: verifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  verified:
                    type: boolean
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/resend-verification:
    post:
      tags:
        - Authentication
      summary: Resend verification email
      description: Resend email verification link
      operationId: resendVerification
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Verification email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Email already verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user
      description: Get the authenticated user's profile
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Users
      summary: Update current user
      description: Update the authenticated user's profile
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
        - Users
      summary: Delete account
      description: Permanently delete current user's account
      operationId: deleteCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - confirmation
              properties:
                password:
                  type: string
                  format: password
                confirmation:
                  type: string
                  enum:
                    - DELETE MY ACCOUNT
      responses:
        '204':
          description: Account deleted
        '401':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{userId}:
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Get a user's public profile by ID
      operationId: getUserById
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/username/{username}:
    get:
      tags:
        - Users
      summary: Get user by username
      description: Get a user's public profile by username
      operationId: getUserByUsername
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me/preferences:
    get:
      tags:
        - Users
      summary: Get user preferences
      description: Get current user's preferences
      operationId: getUserPreferences
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
    patch:
      tags:
        - Users
      summary: Update user preferences
      description: Update current user's preferences
      operationId: updateUserPreferences
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
  /users/me/status:
    get:
      tags:
        - Users
      summary: Get user status
      description: Get current user's status
      operationId: getUserStatus
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatus'
    put:
      tags:
        - Users
      summary: Set user status
      description: Set current user's status
      operationId: setUserStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserStatus'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserStatus'
    delete:
      tags:
        - Users
      summary: Clear user status
      description: Clear current user's custom status
      operationId: clearUserStatus
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Status cleared
  /users/me/avatar:
    put:
      tags:
        - Users
      summary: Upload avatar
      description: Upload a new avatar image
      operationId: uploadAvatar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - avatar
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Avatar image (JPEG, PNG, GIF, max 5MB)
      responses:
        '200':
          description: Avatar uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatarUrl:
                    type: string
                    format: uri
        '400':
          description: Invalid image format or size
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Users
      summary: Remove avatar
      description: Remove current user's avatar
      operationId: removeAvatar
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Avatar removed
  /users/me/password:
    post:
      tags:
        - Users
      summary: Change password
      description: Change current user's password
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
                  minLength: 8
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Password requirements not met
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Current password incorrect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me/email:
    post:
      tags:
        - Users
      summary: Change email
      description: Request email address change
      operationId: changeEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newEmail
                - password
              properties:
                newEmail:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Verification email sent to new address
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '401':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already in use
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me/bookmarks:
    get:
      tags:
        - Users
        - Bookmarks
      summary: List bookmarks
      description: Get current user's bookmarked items
      operationId: listBookmarks
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum:
              - message
              - file
              - channel
        - name: workspaceId
          in: query
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of bookmarks
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookmarks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                            - message
                            - file
                            - channel
                        itemId:
                          type: string
                          format: uuid
                        note:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /users/me/bookmarks/{bookmarkId}:
    delete:
      tags:
        - Users
        - Bookmarks
      summary: Remove bookmark
      description: Remove a bookmark
      operationId: removeBookmark
      security:
        - bearerAuth: []
      parameters:
        - name: bookmarkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Bookmark removed
        '404':
          description: Bookmark not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces:
    get:
      tags:
        - Workspaces
      summary: List user's workspaces
      description: Get all workspaces the current user is a member of
      operationId: listWorkspaces
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
    post:
      tags:
        - Workspaces
      summary: Create workspace
      description: Create a new workspace
      operationId: createWorkspace
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Slug already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}:
    get:
      tags:
        - Workspaces
      summary: Get workspace
      description: Get workspace details by ID
      operationId: getWorkspace
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '403':
          description: Not a member of workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Workspaces
      summary: Update workspace
      description: Update workspace details (admin only)
      operationId: updateWorkspace
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
      responses:
        '200':
          description: Workspace updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Workspaces
      summary: Delete workspace
      description: Delete workspace (owner only)
      operationId: deleteWorkspace
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirmation
              properties:
                confirmation:
                  type: string
                  description: Workspace name for confirmation
      responses:
        '204':
          description: Workspace deleted
        '403':
          description: Not the workspace owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/slug/{slug}:
    get:
      tags:
        - Workspaces
      summary: Get workspace by slug
      description: Get workspace details by URL slug
      operationId: getWorkspaceBySlug
      security:
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/members:
    get:
      tags:
        - Workspaces
        - Members
      summary: List workspace members
      description: Get all members of a workspace
      operationId: listWorkspaceMembers
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: role
          in: query
          schema:
            type: string
            enum:
              - member
              - admin
              - owner
              - guest
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or email
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /workspaces/{workspaceId}/members/{userId}:
    get:
      tags:
        - Workspaces
        - Members
      summary: Get workspace member
      description: Get details of a specific workspace member
      operationId: getWorkspaceMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMember'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Workspaces
        - Members
      summary: Update member role
      description: Update a member's role in the workspace (admin only)
      operationId: updateWorkspaceMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - member
                    - admin
                    - guest
                title:
                  type: string
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceMember'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Workspaces
        - Members
      summary: Remove member
      description: Remove a member from the workspace (admin only)
      operationId: removeWorkspaceMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/leave:
    post:
      tags:
        - Workspaces
      summary: Leave workspace
      description: Leave the workspace (cannot be owner)
      operationId: leaveWorkspace
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Left workspace
        '400':
          description: Cannot leave (owner must transfer ownership first)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/invites:
    get:
      tags:
        - Workspaces
        - Invites
      summary: List pending invites
      description: Get all pending invites for a workspace (admin only)
      operationId: listWorkspaceInvites
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum:
              - pending
              - accepted
              - expired
              - revoked
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of invites
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceInvite'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Workspaces
        - Invites
      summary: Invite members
      description: Send workspace invitations by email (admin only)
      operationId: inviteMembers
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMembersRequest'
      responses:
        '200':
          description: Invites sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: integer
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                        reason:
                          type: string
  /workspaces/{workspaceId}/invites/{inviteId}:
    delete:
      tags:
        - Workspaces
        - Invites
      summary: Revoke invite
      description: Revoke a pending invite
      operationId: revokeInvite
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: inviteId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Invite revoked
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/invites/{inviteCode}/accept:
    post:
      tags:
        - Workspaces
        - Invites
      summary: Accept invite
      description: Accept a workspace invitation
      operationId: acceptInvite
      security:
        - bearerAuth: []
      parameters:
        - name: inviteCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          description: Invalid or expired invite
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Already a member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/stats:
    get:
      tags:
        - Workspaces
      summary: Get workspace stats
      description: Get workspace statistics
      operationId: getWorkspaceStats
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Workspace statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceStats'
  /workspaces/{workspaceId}/icon:
    put:
      tags:
        - Workspaces
      summary: Upload workspace icon
      description: Upload a new workspace icon (admin only)
      operationId: uploadWorkspaceIcon
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - icon
              properties:
                icon:
                  type: string
                  format: binary
      responses:
        '200':
          description: Icon uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  iconUrl:
                    type: string
                    format: uri
    delete:
      tags:
        - Workspaces
      summary: Remove workspace icon
      description: Remove workspace icon (admin only)
      operationId: removeWorkspaceIcon
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Icon removed
  /workspaces/{workspaceId}/channels:
    get:
      tags:
        - Channels
      summary: List channels
      description: Get all channels in a workspace that the user can access
      operationId: listChannels
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum:
              - public
              - private
              - dm
              - group_dm
        - name: joined
          in: query
          schema:
            type: boolean
          description: Filter to joined channels only
        - name: search
          in: query
          schema:
            type: string
          description: Search by channel name
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Channels
      summary: Create channel
      description: Create a new channel in the workspace
      operationId: createChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCreateRequest'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '409':
          description: Channel name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}:
    get:
      tags:
        - Channels
      summary: Get channel
      description: Get channel details by ID
      operationId: getChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Not a member of private channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Channels
      summary: Update channel
      description: Update channel details (admin only for settings)
      operationId: updateChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelUpdateRequest'
      responses:
        '200':
          description: Channel updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Channels
      summary: Delete channel
      description: Delete a channel (admin only, cannot delete default channel)
      operationId: deleteChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Channel deleted
        '400':
          description: Cannot delete default channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/members:
    get:
      tags:
        - Channels
        - Members
      summary: List channel members
      description: Get all members of a channel
      operationId: listChannelMembers
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of channel members
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelMember'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags:
        - Channels
        - Members
      summary: Add members
      description: Add members to a channel
      operationId: addChannelMembers
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMembersRequest'
      responses:
        '200':
          description: Members added
          content:
            application/json:
              schema:
                type: object
                properties:
                  added:
                    type: integer
                  alreadyMembers:
                    type: integer
  /workspaces/{workspaceId}/channels/{channelId}/members/{userId}:
    get:
      tags:
        - Channels
        - Members
      summary: Get channel member
      description: Get details of a channel member
      operationId: getChannelMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel member details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
        '404':
          description: Member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Channels
        - Members
      summary: Update channel member
      description: Update member role in channel (channel admin only)
      operationId: updateChannelMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - member
                    - admin
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelMember'
    delete:
      tags:
        - Channels
        - Members
      summary: Remove channel member
      description: Remove a member from the channel
      operationId: removeChannelMember
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Member removed
  /workspaces/{workspaceId}/channels/{channelId}/join:
    post:
      tags:
        - Channels
      summary: Join channel
      description: Join a public channel
      operationId: joinChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Joined channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '403':
          description: Cannot join private channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/leave:
    post:
      tags:
        - Channels
      summary: Leave channel
      description: Leave a channel (cannot leave default channel)
      operationId: leaveChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Left channel
        '400':
          description: Cannot leave default channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/archive:
    post:
      tags:
        - Channels
      summary: Archive channel
      description: Archive a channel (admin only)
      operationId: archiveChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel archived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
  /workspaces/{workspaceId}/channels/{channelId}/unarchive:
    post:
      tags:
        - Channels
      summary: Unarchive channel
      description: Unarchive a channel (admin only)
      operationId: unarchiveChannel
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel unarchived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
  /workspaces/{workspaceId}/channels/{channelId}/notifications:
    get:
      tags:
        - Channels
      summary: Get channel notification settings
      description: Get notification settings for channel
      operationId: getChannelNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Channel notification settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelNotificationSettings'
    put:
      tags:
        - Channels
      summary: Update channel notification settings
      description: Update notification settings for channel
      operationId: updateChannelNotifications
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelNotificationSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelNotificationSettings'
  /workspaces/{workspaceId}/dms:
    get:
      tags:
        - Channels
        - Direct Messages
      summary: List direct message channels
      description: Get all DM and group DM channels
      operationId: listDirectMessages
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of DM channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/DirectMessage'
                        - $ref: '#/components/schemas/GroupDirectMessage'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /workspaces/{workspaceId}/dms/open:
    post:
      tags:
        - Channels
        - Direct Messages
      summary: Open DM channel
      description: Open or create a direct message channel with a user
      operationId: openDirectMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
              properties:
                userId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: DM channel opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectMessage'
  /workspaces/{workspaceId}/dms/group:
    post:
      tags:
        - Channels
        - Direct Messages
      summary: Create group DM
      description: Create a new group direct message channel
      operationId: createGroupDM
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userIds
              properties:
                userIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 2
                  maxItems: 8
                name:
                  type: string
                  maxLength: 100
      responses:
        '201':
          description: Group DM created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupDirectMessage'
  /workspaces/{workspaceId}/channels/{channelId}/messages:
    get:
      tags:
        - Messages
      summary: List messages
      description: Get messages from a channel with pagination
      operationId: listMessages
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages before this timestamp
        - name: after
          in: query
          schema:
            type: string
            format: date-time
          description: Get messages after this timestamp
        - name: around
          in: query
          schema:
            type: string
            format: uuid
          description: Get messages around this message ID
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  hasMore:
                    type: boolean
    post:
      tags:
        - Messages
      summary: Send message
      description: Send a new message to a channel
      operationId: sendMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Invalid message content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '403':
          description: Cannot post to this channel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}:
    get:
      tags:
        - Messages
      summary: Get message
      description: Get a specific message by ID
      operationId: getMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Messages
      summary: Edit message
      description: Edit a message (author only, within edit window)
      operationId: editMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageUpdateRequest'
      responses:
        '200':
          description: Message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '403':
          description: Not authorized to edit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Messages
      summary: Delete message
      description: Delete a message (author or admin)
      operationId: deleteMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Message deleted
        '403':
          description: Not authorized to delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/reactions:
    get:
      tags:
        - Messages
        - Reactions
      summary: Get message reactions
      description: Get all reactions on a message
      operationId: getMessageReactions
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message reactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  reactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reaction'
    post:
      tags:
        - Messages
        - Reactions
      summary: Add reaction
      description: Add a reaction to a message
      operationId: addReaction
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRequest'
      responses:
        '201':
          description: Reaction added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reaction'
        '409':
          description: Already reacted with this emoji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/reactions/{emoji}:
    delete:
      tags:
        - Messages
        - Reactions
      summary: Remove reaction
      description: Remove a reaction from a message
      operationId: removeReaction
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: emoji
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Reaction removed
        '404':
          description: Reaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/pin:
    post:
      tags:
        - Messages
      summary: Pin message
      description: Pin a message to the channel
      operationId: pinMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Message pinned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          description: Message already pinned or pin limit reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/channels/{channelId}/messages/{messageId}/unpin:
    delete:
      tags:
        - Messages
      summary: Unpin message
      description: Unpin a message from the channel
      operationId: unpinMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Message unpinned
  /workspaces/{workspaceId}/channels/{channelId}/pins:
    get:
      tags:
        - Messages
      summary: List pinned messages
      description: Get all pinned messages in a channel
      operationId: listPinnedMessages
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Pinned messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
  /workspaces/{workspaceId}/channels/{channelId}/read:
    post:
      tags:
        - Messages
      summary: Mark channel as read
      description: Mark all messages in channel as read
      operationId: markChannelRead
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                messageId:
                  type: string
                  format: uuid
                  description: Mark as read up to this message
      responses:
        '200':
          description: Channel marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  lastReadAt:
                    type: string
                    format: date-time
                  lastReadMessageId:
                    type: string
                    format: uuid
  /workspaces/{workspaceId}/scheduled-messages:
    get:
      tags:
        - Messages
      summary: List scheduled messages
      description: Get user's scheduled messages
      operationId: listScheduledMessages
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScheduledMessage'
    post:
      tags:
        - Messages
      summary: Schedule message
      description: Schedule a message for later delivery
      operationId: scheduleMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleMessageRequest'
      responses:
        '201':
          description: Message scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
  /workspaces/{workspaceId}/scheduled-messages/{messageId}:
    get:
      tags:
        - Messages
      summary: Get scheduled message
      description: Get a scheduled message by ID
      operationId: getScheduledMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Scheduled message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
    patch:
      tags:
        - Messages
      summary: Update scheduled message
      description: Update a scheduled message
      operationId: updateScheduledMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleMessageRequest'
      responses:
        '200':
          description: Scheduled message updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledMessage'
    delete:
      tags:
        - Messages
      summary: Delete scheduled message
      description: Delete a scheduled message
      operationId: deleteScheduledMessage
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Scheduled message deleted
  /workspaces/{workspaceId}/threads:
    get:
      tags:
        - Threads
      summary: List threads
      description: Get threads the user is subscribed to or all threads in workspace
      operationId: listThreads
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by channel
        - name: subscribed
          in: query
          schema:
            type: boolean
          description: Only show subscribed threads
        - name: unread
          in: query
          schema:
            type: boolean
          description: Only show threads with unread replies
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - recent_activity
              - created_at
            default: recent_activity
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of threads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadListResponse'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}:
    get:
      tags:
        - Threads
      summary: Get thread
      description: Get a thread with its parent message
      operationId: getThread
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thread details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '404':
          description: Thread not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Threads
      summary: Update thread
      description: Update thread properties (e.g., mark as resolved)
      operationId: updateThread
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThreadRequest'
      responses:
        '200':
          description: Thread updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/replies:
    get:
      tags:
        - Threads
      summary: List thread replies
      description: Get all replies in a thread
      operationId: listThreadReplies
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          schema:
            type: string
            format: date-time
        - name: after
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Thread replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadRepliesResponse'
    post:
      tags:
        - Threads
      summary: Reply to thread
      description: Post a reply to a thread
      operationId: replyToThread
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageCreateRequest'
      responses:
        '201':
          description: Reply posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadReply'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/subscribe:
    post:
      tags:
        - Threads
      summary: Subscribe to thread
      description: Subscribe to receive notifications for thread replies
      operationId: subscribeToThread
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscribeThreadRequest'
      responses:
        '200':
          description: Subscribed to thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadSubscription'
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/unsubscribe:
    delete:
      tags:
        - Threads
      summary: Unsubscribe from thread
      description: Unsubscribe from thread notifications
      operationId: unsubscribeFromThread
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Unsubscribed from thread
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/read:
    post:
      tags:
        - Threads
      summary: Mark thread as read
      description: Mark all replies in thread as read
      operationId: markThreadRead
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thread marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  lastReadAt:
                    type: string
                    format: date-time
                  lastReadMessageId:
                    type: string
                    format: uuid
  /workspaces/{workspaceId}/channels/{channelId}/threads/{threadId}/participants:
    get:
      tags:
        - Threads
      summary: List thread participants
      description: Get all users who have participated in a thread
      operationId: listThreadParticipants
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: threadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thread participants
          content:
            application/json:
              schema:
                type: object
                properties:
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserProfile'
                  count:
                    type: integer
  /workspaces/{workspaceId}/threads/read-all:
    post:
      tags:
        - Threads
      summary: Mark all threads as read
      description: Mark all threads in workspace as read
      operationId: markAllThreadsRead
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: All threads marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  markedCount:
                    type: integer
  /workspaces/{workspaceId}/files:
    get:
      tags:
        - Files
      summary: List files
      description: Get files shared in workspace
      operationId: listFiles
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: channelId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by channel
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by uploader
        - name: category
          in: query
          schema:
            type: string
            enum:
              - image
              - video
              - audio
              - document
              - spreadsheet
              - presentation
              - archive
              - code
              - other
        - name: search
          in: query
          schema:
            type: string
          description: Search by filename
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date
        - name: dateTo
          in: query
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
  /workspaces/{workspaceId}/files/upload:
    post:
      tags:
        - Files
      summary: Initialize file upload
      description: Get a pre-signed URL for file upload
      operationId: initFileUpload
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: Upload URL generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '400':
          description: Invalid file type or size exceeds limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: File too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/files/{fileId}:
    get:
      tags:
        - Files
      summary: Get file
      description: Get file details by ID
      operationId: getFile
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Files
      summary: Update file
      description: Update file metadata
      operationId: updateFile
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileUpdateRequest'
      responses:
        '200':
          description: File updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
    delete:
      tags:
        - Files
      summary: Delete file
      description: Delete a file (uploader or admin)
      operationId: deleteFile
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: File deleted
        '403':
          description: Not authorized to delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/files/{fileId}/complete:
    post:
      tags:
        - Files
      summary: Complete file upload
      description: Mark file upload as complete after uploading to pre-signed URL
      operationId: completeFileUpload
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File upload completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        '400':
          description: Upload not found or already completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workspaces/{workspaceId}/files/{fileId}/download:
    get:
      tags:
        - Files
      summary: Get download URL
      description: Get a temporary download URL for a file
      operationId: getFileDownloadUrl
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: disposition
          in: query
          schema:
            type: string
            enum:
              - inline
              - attachment
            default: attachment
      responses:
        '200':
          description: Download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time
  /workspaces/{workspaceId}/files/{fileId}/share:
    post:
      tags:
        - Files
      summary: Share file
      description: Share a file with users, channels, or make public
      operationId: shareFile
      security:
        - bearerAuth: []
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: fileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
[...]
